<h2>Visa TN/NAFTA checklist</h2>

<table>
  <tr>
    <th>Step</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>1</td>
    <td>travel.state.gov</td>
    <td>https://travel.state.gov/content/travel/en/us-visas/employment/visas-canadian-mexican-nafta-professional-workers.html</td>
  </tr>
  <tr>
    <td>2</td>
    <td>mx.usembassy.gov</td>
    <td>https://mx.usembassy.gov/es/visas-es/nafta/</td>
  </tr>
  <tr>
    <td>3</td>
    <td>uscis.gov</td>
    <td>https://www.uscis.gov/working-united-states/temporary-workers/tn-nafta-professionals</td>
  </tr>
  <tr>
    <td>4</td>
    <td>DS-160</td>
    <td>Consular Electronic Application Center website https://ceac.state.gov/genniv/</td>
  </tr>
  <tr>
    <td>5</td>
    <td>ais.usvisa-info.com</td>
    <td>Add new group or applicant https://ais.usvisa-info.com/en-mx/niv/schedule/20574541/applicants/new</td>
  </tr>
  <tr>
    <td>6</td>
    <td>expedited?</td>
    <td>
      Once you are logged in your account, in the appointment’s menu chose expedited appointment and follow the steps.
      https://mx.usembassy.gov/visas/petition-based-employment/emergency-appointments/
      You may request an expedited appointment when you schedule your appointment at https://ais.usvisa-info.com/en-mx/niv
    </td>
  </tr>
  <tr>
    <td>7</td>
    <td>Pago</td>
    <td>Pago en efectivo (no tarjeta de credito) en Banamex o Santander $ 3,200 pesos</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Hacer cita CAS</td>
    <td>CAS: hojas de confirmacion, pasaporte/visa, celular apagado</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Hacer cita USC</td>
    <td>
      USC: hoja de confirmacion, pasaporte/visa, no telefono celular, resume, kardex/titulo/cedula, offer letter:
      (engineer, chicago, salary, job description, responsibilities, expiration date in 3 years mm/dd/yyyy)
    </td>
  </tr>
</table>