<div class="component">
  <h3>Edit Project</h3>
  <form (submit)="update()" #formData="ngForm">
    <table>
      <tbody>
        <tr>
          <td class="columnLeft">
            <label for="">Title:</label>
          </td>
          <td class="columnRight">
            <input type="text" name="title" required [(ngModel)]="product.title">
          </td>
        </tr>
        <tr>
          <td class="columnLeft">
            <label for="">Position:</label>
          </td>
          <td class="columnRight">
            <input type="number" name="position" required [(ngModel)]="product.position">
          </td>
        </tr>
        <tr>
          <td class="columnLeft">
            <label for="">Image Url:</label>
          </td>
          <td class="columnRight">
            <input type="text" name="imgUrl" [(ngModel)]="product.imgUrl">
          </td>
        </tr>
        <tr>
          <td class="columnLeft"></td>
          <td class="columnRight">
            <input type="submit" [disabled]="!formData.valid" value="UPDATE" class="btn btn-primary">
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>