mat-toolbar {
    background-color: gray;
    color: white;
}
img {
    height: 26px;
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}