<div class="component">
  <div class='product' *ngFor="let product of products">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <img *ngIf="product.imgUrl" [src]="product.imgUrl" alt="avatar" style="height:50px;width:50px;">
        </div>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.position }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class='container'>
          <div class='overlay'>
            <div class='text'>Sold Out</div>
          </div>
        </div>
        <h3 class='imgRep' *ngIf="!product.imgUrl">No Image Available.</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/projects', 'edit', product.id]">EDIT</button>
        <button mat-button (click)="deleteProduct(product)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>