@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";

@import '~@angular/material/core/theming/all-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

$dark-primary: md-palette($md-pink, 700, 500, 900);
$dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
$dark-warn:    md-palette($md-deep-orange);

$dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);
*/
*{
    font-family: sans-serif;
}
.poster{
    display: inline-block;
    width: 2560px;
}
#toolbar {
  position: absolute;
  left: 0px;
  width: 100%;
  opacity: 1 !important;
  background-color: transparent !important;
}
.btn {
    border: 0px;
    text-transform: uppercase;
    width: 100px;
}
.btn-primary{
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
    color: #FFF;
}
.btn-secondary{
    background-image: linear-gradient(180deg,#fee6b0 0,#eeba37);
    color: black;
}
/* display resolution */
@media (min-width: 1921px) {
    .poster{
        width: 1920px;
    }    
}
@media (min-width: 1681px) and (max-width: 1920px) {
    .poster{
        width: 1680px;
    }    
}
@media (min-width: 1601px) and (max-width: 1680px) {
    .poster{
        width: 1600px;
    }
    .slogan{
      font-size: 78px; 
      line-height: 78px;
    }
    #toolbar {
        top: 515px;
        opacity:0.5;background-color: pink;
        padding-left: 200px;
    }
    #toolbar li{
      width: 196px;
      font-size: 48px; 
    }
}
@media (min-width: 1537px) and (max-width: 1600px) {
    .poster{
        width: 1536px;
    }
    .slogan{
      font-size: 78px; 
      line-height: 78px;
    }
    #toolbar {
        top: 515px;
        opacity:0.5;background-color: pink;
        padding-left: 200px;
    }
    #toolbar li{
      width: 196px;
      font-size: 48px; 
    }
}
@media (min-width: 1441px) and (max-width: 1536px) {
    .poster{
        width: 1440px;
    }
    .slogan{
      font-size: 78px; 
      line-height: 78px;
    }
    #toolbar {
        top: 515px;
        opacity:0.5;background-color: pink;
        padding-left: 200px;
    }
    #toolbar li{
      width: 196px;
      font-size: 48px; 
    }
}
@media (min-width: 1367px) and (max-width: 1440px) {
    .poster{
        width: 1366px;
    }
    .slogan{
      font-size: 78px; 
      line-height: 78px;
    }
    #toolbar {
        top: 515px;
        opacity:0.5;background-color: pink;
        padding-left: 200px;
    }
    #toolbar li{
      width: 196px;
      font-size: 48px; 
    }
}
@media (min-width: 1281px) and (max-width: 1366px) {
    .poster{
        width: 1280px;
    }
    .slogan{
      font-size: 78px; 
    }
    #toolbar {
        top: 190px;
        opacity:0.5;background-color: gold;
        padding-left: 25px;
    }
    #toolbar li{
      width: 196px;
      font-size: 48px; 
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .poster{
        width: 1024px;
    }
    .slogan{
      font-size: 96px; 
    }
    .slogan{
      font-size: 78px; 
    }
    #toolbar {
        top: 190px;
        opacity:0.5;background-color: purple;
        padding-left: 25px;
    }
    #toolbar li{
      width: 190px;
      font-size: 48px; 
    }
}
@media (min-width: 801px) and (max-width: 1024px) {
    .poster{
        width: 800px;
    }
    .slogan{
      font-size: 58px; 
    }
    #toolbar {
        top: 190px;
        opacity:0.5;background-color: tomato;
        padding-left: 25px;
    }
    #toolbar li{
      width: 145px;
      font-size: 36px; 
    }
}
@media (min-width: 769px) and (max-width: 800px) {
    .poster{
        width: 768px;
    }
    .slogan{
      font-size: 50px; 
    }
    #toolbar {
        top: 168px;
        opacity:0.5;background-color: magenta;
        padding-left: 25px;
    }
    #toolbar li{
      width: 128px;
      font-size: 24px; 
    }
}
@media (min-width: 721px) and (max-width: 768px) {
    .poster{
        width: 720px;
    }
    .slogan{
      font-size: 50px; 
    }
    #toolbar {
        top: 168px;
        opacity:0.5;background-color: cornflowerblue;
        padding-left: 25px;
    }
    #toolbar li{
      width: 128px;
      font-size: 24px; 
    }
}
@media (min-width: 481px) and (max-width: 720px) {
    .poster{
        width: 480px;
    }
    .slogan{
      font-size: 34px; 
    }
    #toolbar {
        top: 130px;
        opacity:0.5;background-color: green;
        padding-left: 25px;
    }
    #toolbar li{
      width: 85px;
      font-size: 24px; 
    }
}
@media (min-width: 361px) and (max-width: 480px) {
    .poster{
        width: 360px;
    }
    .slogan{
      font-size: 26px;
      line-height: 60px;
    }
    #toolbar {
        top: 440px;
        opacity:0.5;background-color: orange;
        padding-left: 25px;
    }
    #toolbar li{
      width: 64px;
      font-size: 14px; 
    }
}
@media (min-width: 321px) and (max-width: 360px) {
    .poster{
        width: 320px;
    }
    .slogan{
        font-size: 22px; 
        line-height: 60px;
    }
    #toolbar {
        top: 440px;
        opacity:0.5;background-color: yellow;
        padding-left: 25px;
    }
    #toolbar li{
      width: 55px;
      font-size: 12px; 
    }
}
@media (max-width: 320px) {
    .poster{
        width: 300px;
    }
    .slogan{
      font-size: 22px;
      line-height: 60px;
    }
    #toolbar {
        top: 420px;
        opacity:0.5;background-color: pink;
        padding-left: 25px;
    }
    #toolbar li{
      width: 55px;
      font-size: 12px; 
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }