<mat-sidenav-container class="example-container" *ngIf="true">
    <mat-sidenav mode="side" opened>
        <div class="docs-component-viewer-nav">
            <div class="docs-component-viewer-nav-content">
                <nav class="ng-tns-c12-2 ng-star-inserted">
                    <button class="docs-nav-content-btn" cdkaccordionitem="" expanded="true" aria-label="Form Controls, section toggle" aria-controls="panel-forms"
                        aria-expanded="true"> Mauricio Ruanova-Hurtado
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">keyboard_arrow_up</mat-icon>
                    </button>
                    <div class="about">
                        This website uses Angular in the front-end to request all the projects from a RESTful web service API with an Http Get method
                        and render the JSON response in a list and a map. <br>In the back-end an
                        AWS API Getway executes a serverless Lambda function in Node.js that reads data from DynamoDB.
                    </div>
                    <ul class="ng-tns-c12-2 ng-trigger ng-trigger-bodyExpansion" id="panel-forms" style="display: block;">
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected" 
                            href="https://www.linkedin.com/in/mruanova/">Linkedin</a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://stackoverflow.com/users/5490782/mruanova/">Stack Overflow </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://github.com/mruanova/">Github </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://246gg84zg8.execute-api.us-west-2.amazonaws.com/prod/projects/">API </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://youtu.be/NOQZ1OdJ-I4/">Back-End </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://www.youtube.com/watch?v=QjrfUO91wfc/">AWS EC2 </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://youtu.be/qqfZpzWPw9w/">Zillow in Python Django </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://www.youtube.com/channel/UC_HW27YMfrpQeX1v5AijWSQ/">YouTube </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://youtu.be/gPlAq-FR5VE/">Listings owner </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://youtu.be/VuwrG4q29Js/">Taxi app</a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="http://mruanova.com/pacman/">Pacman </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="http://mruanova.com/d3/">JezzBall </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://link.springer.com/chapter/10.1007/11499053_28/">Papers </a>
                        </li>
                        <li class="ng-tns-c12-2 ng-star-inserted">
                            <a class="ng-tns-c12-2" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                            href="https://books.google.com/books?id=Thb6BwAAQBAJ&pg=PA206&lpg=PA206&dq=MAURICIO+RUANOVA-HURTADO&source=bl&ots=muRK4E3Oz-&sig=DGPkIF99nLw8lm8fHykqBsQU78E&hl=en&sa=X&ved=0ahUKEwjd96vDjNTbAhVm7oMKHfbxCUIQ6AEIYTAN/">Books </a>
                        </li>
                    </ul>
                    <hr class="ng-tns-c12-2 ng-star-inserted">
                </nav>
            </div>
        </div>
        <!--
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Personal data
                                </mat-panel-title>
                                <mat-panel-description>
                                    Type your name and age
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-form-field>
                                <input matInput placeholder="First name">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Age">
                            </mat-form-field>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Self aware panel
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    -->
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-tab-group>
            <mat-tab label="Career Portfolio">
                <div class="main">
                    <div class="box">
                        <img id="photo" [src]="imageSource" alt="mau">
                        <div class="mau">mau</div>
                        <div class="mauricioruanovahurtado">MAURICIO RUANOVA-HURTADO</div>
                        <div class="skill skill1">ASP.Net C#</div>
                        <div class="skill skill2">jQuery</div>
                        <div class="skill skill3">React.js</div>
                        <div class="skill skill4">Node.js</div>
                        <div class="skill skill5">Python</div>
                        <div class="skill skill6">Vue.js</div>
                        <div class="skill skill7">Angular</div>
                        <div id="selector"></div>
                        <div class="portfolio">JavaScript Engineer</div>
                    </div>
                    <div class="box">
                        <div class="about">
                            Click on a project from the list to update the map:
                        </div>
                        <div class="projects">
                            <ul>
                                <project-list></project-list>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <div id="map"></div>
                    </div>
                    <!--
                    <div class="box">
                        <div class="about">
                            This website uses Angular in the front-end to request all the projects from a RESTful web service API with an Http Get method
                            and render the JSON response in a list and a map. <br>In the back-end an
                            AWS API Getway executes a serverless Lambda function in Node.js that reads data from DynamoDB.
                        </div>
                        <ul>
                            <li>
                                <div class='company'>Angular mruanova.com</div>
                                <div class='position'>Career Portfolio in ANGULAR</div>
                                <div class='address-link'>
                                    <a href="https://github.com/mruanova/angular-mruanova">https://github.com/mruanova/angular-mruanova</a>
                                </div>
                            </li>
                            <li>
                                <div class='company'>vue.js mruanova.com</div>
                                <div class='position'>Career Portfolio in VUEJS</div>
                                <div class='address-link'>
                                    <a href="https://github.com/mruanova/vue-mruanova">https://github.com/mruanova/vue-mruanova</a>
                                </div>
                            </li>
                            <li>
                                <div class='company'>React.js mruanova.com</div>
                                <div class='position'>Career Portfolio in REACTJS</div>
                                <div class='address-link'>
                                    <a href="https://github.com/mruanova/react-mruanova">https://github.com/mruanova/react-mruanova</a>
                                </div>
                            </li>
                            <li>
                                <div class='company'>angular.js mruanova.com</div>
                                <div class='position'>Career Portfolio in angular.js 1.6.7</div>
                                <div class='address-link'>
                                    <a href="https://github.com/mruanova/angularjs-mruanova">https://github.com/mruanova/angularjs-mruanova</a>
                                </div>
                            </li>
                            <li>
                                <div class='company'>backbone-underscore mruanova.com</div>
                                <div class='position'>Career Portfolio in backbone-underscore</div>
                                <div class='address-link'>
                                    <a href="https://github.com/mruanova/backbone-mruanova">https://github.com/mruanova/backbone-mruanova</a>
                                </div>
                            </li>
                            <li>
                                <div class='company'>jQuery mruanova.com</div>
                                <div class='position'>Career Portfolio in JQUERY</div>
                                <div class='address-link'>
                                    <a href="https://github.com/mruanova/jquery-mruanova">https://github.com/mruanova/jquery-mruanova</a>
                                </div>
                            </li>
                            <li>
                                <div class='company'>Pacman JavaScript</div>
                                <div class='position'>Play Pacman online!</div>
                                <div class='address-link'>
                                    <a href="https://github.com/mruanova/pacman">https://github.com/mruanova/pacman</a>
                                </div>
                            </li>
                        </ul>
                    </div>                   
                    -->
                </div>
            </mat-tab>
            <mat-tab label="JezzBall">
                    <iframe src="http://mruanova.com/d3/" height="575" width="1024"></iframe>
            </mat-tab>
            <mat-tab label="Pacman">
                    <iframe src="http://mruanova.com/pacman/" height="575" width="1024"></iframe>
            </mat-tab>
            <!--
            http://mruanova.com/c3/index.html
            -->
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>