<div class="career">JAVASCRIPT ENGINEER</div>
<div class="main">
    <div class="box">
        <img id="photo" [src]="imageSource" alt="mau">
        <div class="mau">mau</div>
        <div class="mauricioruanovahurtado">MAURICIO RUANOVA-HURTADO</div>
        <div class="skill skill1">ASP.Net C#</div>
        <div class="skill skill2">jQuery</div>
        <div class="skill skill3">React.js</div>
        <div class="skill skill4">Node.js</div>
        <div class="skill skill5">Python</div>
        <div class="skill skill6">Vue.js</div>
        <div class="skill skill7">Angular</div>
        <div id="selector"></div>
        <div class="portfolio">JavaScript Engineer</div>
    </div>
    <div class="box">
        <div class="about">
            Click on a project from the list to update the map:
        </div>
        <div class="projects">
            <ul>
                <project-list></project-list>
            </ul>
        </div>
    </div>
    <div class="box">
        <div id="map"></div>
    </div>
    <div class="box">
        <div class="about">
            This website uses Angular in the front-end to request all the projects from a RESTful web service API with an Http Get method
            and render the JSON response in a list and a map. <br>In the back-end an AWS API Getway executes a serverless Lambda
            function in Node.js that reads data from DynamoDB.
        </div>
        <ul>
            <!--
            <li>
            <div class='company'>JavaScript Frameworks 2018</div>
            <div class='position'>Compare the most popular JavaScript frameworks</div>
            <div class='address-link'>
            <a href="http://mruanova.com/c3">http://mruanova.com/c3</a>
            </div>
            </li>
            -->
            <li>
                <div class='company'>Angular mruanova.com</div>
                <div class='position'>Career Portfolio in ANGULAR</div>
                <div class='address-link'>
                    <a href="https://github.com/mruanova/angular-mruanova">https://github.com/mruanova/angular-mruanova</a>
                </div>
            </li>
            <li>
                <div class='company'>vue.js mruanova.com</div>
                <div class='position'>Career Portfolio in VUEJS</div>
                <div class='address-link'>
                    <a href="https://github.com/mruanova/vue-mruanova">https://github.com/mruanova/vue-mruanova</a>
                </div>
            </li>
            <li>
                <div class='company'>React.js mruanova.com</div>
                <div class='position'>Career Portfolio in REACTJS</div>
                <div class='address-link'>
                    <a href="https://github.com/mruanova/react-mruanova">https://github.com/mruanova/react-mruanova</a>
                </div>
            </li>
            <li>
                <div class='company'>angular.js mruanova.com</div>
                <div class='position'>Career Portfolio in angular.js 1.6.7</div>
                <div class='address-link'>
                    <a href="https://github.com/mruanova/angularjs-mruanova">https://github.com/mruanova/angularjs-mruanova</a>
                </div>
            </li>
            <li>
                <div class='company'>backbone-underscore mruanova.com</div>
                <div class='position'>Career Portfolio in backbone-underscore</div>
                <div class='address-link'>
                    <a href="https://github.com/mruanova/backbone-mruanova">https://github.com/mruanova/backbone-mruanova</a>
                </div>
            </li>
            <li>
                <div class='company'>jQuery mruanova.com</div>
                <div class='position'>Career Portfolio in JQUERY</div>
                <div class='address-link'>
                    <a href="https://github.com/mruanova/jquery-mruanova">https://github.com/mruanova/jquery-mruanova</a>
                </div>
            </li>
            <li>
                <div class='company'>PACMAN JavaScript</div>
                <div class='position'>Play PACMAN online!</div>
                <div class='address-link'>
                    <a href="https://github.com/mruanova/pacman">https://github.com/mruanova/pacman</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--
<div id="toolbar">
    <p class="slogan">Mauricio Ruanova-Hurtado</p>
    <ul>
        <li class="active">
            <a [routerLink]="['/products']">store</a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/mruanova/">linkedin</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/mruanova/">github</a>
        </li>
        <li>
            <a target="_blank" href="https://medium.com/@moreissues/">blog</a>
        </li>
        <li>
            <a target="_blank" href="https://stackoverflow.com/users/5490782/mruanova/">answer</a>
        </li>
    </ul>
</div>
-->